:root {
    --kuijpers-blue: #131173;
    --kuijpers-orange: #EE8226;
    --kuijpers-light: #ffffff;
    --kuijpers-accent: #f2f4f8;
}

html, body, [data-testid="stAppViewContainer"] {
    color: var(--kuijpers-blue);
    background-color: --kuijpers-light;
}

.stApp {
    background-color: var(--kuijpers-light);
}

.stMarkdown, .stTitle, .stSubheader, .stTextInput label,
.stFileUploader label, .stDownloadButton button {
    color: var(--kuijpers-blue);
}

.stTitle {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.stSubheader {
    font-size: 1rem;
    margin-top: 0.25rem;
    opacity: 0.9;
}

[data-testid="stFileUploader"] {
    background: var(--kuijpers-accent);
    border-radius: 10px;
    padding: 0.5rem;
}

button[kind="primary"], .stDownloadButton button {
    background-color: var(--kuijpers-blue);
    color: white;
    border: none;
    border-radius: 8px;
    background-color: blue
}


.block-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-width: 80%;
    margin: 0;
}